<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<h4><%= link_to 'Create New Employee', new_admin_employee_path, class: 'btn btn-success' %></h4>

<% @employees.each do |user| %>
  <%= render partial: 'admin/users/list_users', locals: {user: user} %>
<% end %>
