<p id="notice"></p>

<h1>Customers</h1>

<h4><%= link_to 'Create New Customer', new_admin_customer_path, class: 'btn btn-success' %></h4>

<% @customers.each do |user| %>
  <%= render partial: 'admin/users/list_users', locals: {user: user} %>
<% end %>
