<p id="notice"></p>

<h2 class="x_title">Customers</h2>

<div class="x_content">
	<%= link_to 'Create Customer', new_admin_customer_path, class: 'btn btn-success' %><br/>

	<% @customers.each do |user| %>
	  <%= render partial: 'admin/users/list_users', locals: {user: user} %>
	<% end %>
</div>
