<div class="search-result container">
      <hgroup class="mb20">
  		<h1>Search Results</h1>
  		<h2 class="lead"><strong class="text-danger">3</strong> results were found for the search for <strong class="text-danger">Lorem</strong></h2>
  	</hgroup>

      <section class="col-xs-12 col-sm-6 col-md-12">
        <% for i in 0..3 %>
        <article class="search-result row">
  			<div class="col-xs-12 col-sm-12 col-md-3">
  				<a href="#" title="Lorem ipsum" class="thumbnail"><img src="https://www.gstatic.com/webp/gallery/<%= i+1 %>.png" alt="Lorem ipsum" /></a>
  			</div>
  			<div class="col-xs-12 col-sm-12 col-md-2">
  				<ul class="meta-search">
  					<li><i class="glyphicon glyphicon-calendar"></i> <span>02/15/2014</span></li>
  					<li><i class="glyphicon glyphicon-time"></i> <span>4:28 pm</span></li>
  					<li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
  				</ul>
  			</div>
  			<div class="col-xs-12 col-sm-12 col-md-7 excerpet">
  				<h3><a href="#" title="">Tile</a></h3>
  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae sapien pellentesque habitant morbi tristique senectus et netus. Commodo nulla facilisi nullam vehicula. Semper quis lectus nulla at volutpat diam ut venenatis. Ante metus dictum at tempor commodo. Pharetra convallis posuere morbi leo. Nulla facilisi cras fermentum odio eu feugiat pretium nibh. Maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Massa id neque aliquam vestibulum morbi. Massa massa ultricies mi quis hendrerit dolor. Interdum consectetur libero id faucibus nisl tincidunt eget nullam. Turpis egestas maecenas pharetra convallis posuere morbi leo. Lectus proin nibh nisl condimentum id venenatis a condimentum vitae. Morbi tincidunt augue interdum velit euismod. Facilisis magna etiam tempor orci eu lobortis. Donec massa sapien faucibus et molestie ac feugiat sed. Amet cursus sit amet dictum sit amet justo. Rhoncus mattis rhoncus urna neque viverra.</p>
                  <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
  			</div>
  			<span class="clearfix borda"></span>
  		</article>
        <% end %>


  	</section>
  </div>
</div>
