<p id="notice"></p>

<h1>Dispatchers</h1>

<h4><%= link_to 'Create New Dispatcher', new_admin_dispatcher_path, class: 'btn btn-success' %></h4>

<% @dispatchers.each do |user| %>
  <%= render partial: 'admin/users/list_users', locals: {user: user} %>
<% end %>
